body {
  background-color: #F8F0E3;
  font-family: 'Signika';
}

button {
  font-family: 'Signika';
  font-weight: 550;
}

main {
  text-align: center;
}

.app-title {
  font-size: 4rem;
  font-weight: 300;
  letter-spacing: 2px;
  color: black;
  margin-bottom: 0;
}

.App {
  display: flex;
  height: 95vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.navbar {
  display: flex;
  justify-content: center;
  align-items:center;
}

.nav-center {
  width: 90vw;
  max-width: 1120px;
}

.nav-header {
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  display: flex;
  align-items: center;
}

.nav-header img {
  width: 135px
}

#interval-container {
  display: flex;
}

.counter-btn, .counter-btn {
  border: none;
  background-color: #a2709e;
  outline: none;
  color: #eee;
  padding: 2px 12px;
  height: 25px;
  border-radius: 2px;
  cursor: pointer;
  width: 55px;
  text-align: center;
}

.counter-btn:disabled {
  cursor: not-allowed;
}

@media screen and (max-width: 700px) {
  #interval-container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .app-title {
    font-size: 3.5rem;
  }
}
